@import "../../01_base/variables";

.data-item {
    background: var(--color-secondary-darken-1-transparent);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: $input-height;
    position: relative;
    white-space: nowrap;

    --aug-border-bg: var(--color-secondary);
    --aug-border-left: 2px;
    --aug-border-right: 2px;
    --aug-border-top: .1px;
    --aug-border-bottom: .11px;
    --aug-br1: 7px;
    --aug-tl1: 7px;

    &__spacer {
        flex-grow: 1;
    }

    &__icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex-shrink: 0;
        height: $input-height;
        position: relative;
        width: $input-height;
    }
    &__name, &__property {
        padding: 0 $spacing;
        position: relative;
    }
    &__property-label {
        color: var(--color-disabled);
        font-size: var(--font-size-tiny);
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__property-value {
        color: var(--color-primary);
        font-size: var(--font-size-small);
    }
    &__action {
        align-items: center;
        color: inherit;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        height: $input-height;
        justify-content: center;
        position: relative;
        width: $input-height;

        &--no-icon {
            padding: 0 $spacing;
            width: auto;
        }

        &:hover {
            background: var(--focus-glow-transparent);
        }
    }

    &--clickable {
        cursor: pointer;

        .data-item__action {
            &:hover {
                background: transparent;
            }
        }
        &:hover {
            background: var(--focus-glow-transparent);
        }
    }

    &__progress {
        background: var(--color-info);
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
    }

    &--info {
        --aug-border-bg: var(--color-info);
    }
    &--success {
        --aug-border-bg: var(--color-success);
    }
    &--warning {
        --aug-border-bg: var(--color-warning);
    }
    &--error {
        --aug-border-bg: var(--color-error);
    }
}