@import "../01_base/variables";

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, p, a, li, div {
    text-rendering: geometricPrecision;
}
h1, h2, h3 {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    margin: 0;
}

/* WebKit and Blink */
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.input-copy-to-clipboard {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

#page {
    padding-top: $input-height;
}

#dialogs {
    z-index: $z-index-dialogs;
}

.padding-container {
    padding: $spacing !important;
}

.x-scroll {
    overflow-x: scroll;
}

.svg-icon {
    height: var(--line-height-default);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.block {
    display: block;
}

.credit-bar {
    background: var(--color-primary-darken-1);
    box-sizing: border-box;
    padding: $spacing / 8 $spacing;
    width: 100%;
}

.background-contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}