@import "variables";

.flex {
    display: flex;

    &--wrap {
        flex-wrap: wrap;
    }
    &--end {
        justify-content: flex-end;
    }
    &--vertical {
        flex-direction: column;
    }
    &--center-horizontal {
        justify-content: center;
    }
    &--center-vertical {
        align-items: center;
    }
    &--space-between-children {
        .flex__item {
            padding-left: $spacing / 2;
            padding-right: $spacing / 2;
        }
    }
    &--full-width {
        width: 100%;
    }
    &--full-height {
        height: 100%;
    }
    &__item {
        &--grow {
            flex-grow: 1;
        }
        &--noshrink {
            flex-shrink: 0;
        }
    }
}