@import "variables";

.flex {
    display: flex;

    &--wrap {
        flex-wrap: wrap;
    }
    &--wrap-lg {
        @media (max-width: $screen-lg) {
            flex-wrap: wrap;
        }
    }
    &--end {
        justify-content: flex-end;
    }
    &--vertical {
        flex-direction: column;
    }
    &--center-horizontal {
        justify-content: center;
    }
    &--center-vertical {
        align-items: center;
    }
    &--stretch-vertical {
        align-items: stretch;
    }
    &--space-between-children {
        margin-left: -(math.div($spacing, 2));
        margin-right: -(math.div($spacing, 2));

        .flex__item {
            margin-left: math.div($spacing, 2);
            margin-right: math.div($spacing, 2);
        }
    }
    &--full-width {
        width: 100%;
    }
    &--full-height {
        height: 100%;
    }
    &--half-padding {
        padding: 0 math.div($spacing, 2);
    }
    &__item {
        box-sizing: border-box;

        &--grow {
            flex-grow: 1;
        }
        &--noshrink {
            flex-shrink: 0;
        }

        &--w-50-lg {
            box-sizing: border-box;
            width: 50%;

            @media (max-width: $screen-lg) {
                margin-top: $spacing;
                width: 100%;
            }
        }

        &--w-50-md {
            width: 50%;

            @media (max-width: $screen-md) {
                margin-top: $spacing;
                width: 100%;
            }
        }

        &--w-50-sm {
            width: 50%;

            @media (max-width: $screen-sm) {
                margin-top: $spacing;
                width: 100%;
            }
        }

        &--w-50-xs {
            width: 50%;

            @media (max-width: $screen-xs) {
                margin-top: $spacing;
                width: 100%;
            }
        }
    }
}