@import "variables";

.text {
    &--primary {
        color: var(--color-primary) !important;
    }
    &--secondary {
        color: var(--color-secondary) !important;
    }
    &--bold {
        font-weight: bold !important;
    }
    &--left {
        text-align: left !important;
    }
    &--center {
        text-align: center !important;
    }
    &--right {
        text-align: right !important;
    }
    &--uppercase {
        text-transform: uppercase !important;
    }
    &--title {
        font-size: var(--font-size-title) !important;
    }
    &--small {
        font-size: var(--font-size-small) !important;
    }
    &--tiny {
        font-size: var(--font-size-tiny) !important;
    }
    &--neutral {
        color: var(--color-neutral) !important;
    }
    &--success {
        color: var(--color-success);
    }
    &--error {
        color: var(--color-error);
    }
    &--info {
        color: var(--color-info);
    }
    &--disabled {
        color: var(--color-disabled);
    }
    &--tier-1 {
        color: var(--color-tier-1);
    }
    &--tier-2 {
        color: var(--color-tier-2);
    }
    &--tier-3 {
        color: var(--color-tier-3);
    }
    &--ghost {
        opacity: 0.5;
    }
    &--monospaced {
        font-family: monospace;
    }
}