@import "../../01_base/variables";

.company-list {
    display: flex;
    flex-wrap: wrap;
}
.company-list-item {
    background: var(--color-secondary-darken-1-transparent);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $input-height * 6;
    margin: math.div($spacing, 4);
    width: $input-height * 6;

    --aug-border-bg: var(--color-secondary);
    --aug-border-left: 2px;
    --aug-border-right: 2px;
    --aug-border-top: .1px;
    --aug-border-bottom: .1px;
    --aug-br1: 7px;
    --aug-tl1: 7px;

    &:hover {
        --aug-border-bg: var(--color-primary);
        --aug-border-left: 3px;
        --aug-border-right: 3px;
        --aug-border-top: .5px;
        --aug-border-bottom: .5px;
    }

    &__logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: math.div($spacing, 2);
        flex-grow: 1;
    }
    &__name {
        font-family: var(--font-family-title);
        font-weight: normal;
        padding: math.div($spacing, 2) $spacing;
        text-align: center;
    }
}

.company {
    &__logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        height: $input-height * 6;
        margin: 0 auto;
        width: $input-height * 6;
    }
    &__header {
        align-items: center;
        display: flex;
        margin-top: $spacing;
    }
    &__name {
        flex-grow: 1;
        text-align: center;
    }
    &__meta {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: $spacing * 2;

        & > * {
            margin: math.div($spacing, 4);
        }
    }
    &__about-us {
        img {
            display: block;
            height: auto;
            width: 100%;
        }
        strong {
            color: var(--color-info);
        }
    }
}